[submodule "image-scout"]
path = services/image-scout
url = https://github.com/Luxcium/Redis-ImageScout.git
[submodule "questrade-ts"]
path = services/questrade-ts
url = https://github.com/Luxcium/questrade-ts.git
[submodule "services/rpc-worker-pool"]
path = services/rpc-worker-pool
url = https://github.com/Luxcium/rpc-worker-pool.git
[submodule "library/mapping-tools"]
path = library/mapping-tools
url = https://github.com/LuxciumProject/mapping-tools.git
[submodule "docker/nvidia/ComfyUI"]
	path = docker/nvidia/ComfyUI
	url = https://github.com/Luxcium/ComfyUI.git
[submodule "examples/OpenHands"]
	path = examples/OpenHands
	url = https://github.com/LuxciumProject/OpenHands.git
[submodule "examples/mcp-servers"]
	path = examples/mcp-servers
	url = https://github.com/Luxcium/servers.git
	branch = main
