# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://johndoe:random-abcd1234-password@localhost:5432/mydb?schema=public"

# Set this to a long and random string when deploying to production
AUTH_SECRET="somethingreally-abcd1234-reallysecret"

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="your cloud name"
NEXT_PUBLIC_CLOUDINARY_API_KEY="Your api key"
CLOUDINARY_API_SECRET="api secret"

NEXT_PUBLIC_PUSHER_APP_KEY="d942788a-abcd1234-46c9fb375"
PUSHER_APP_ID="Your app id"
PUSHER_SECRET="Your pusher secret"

RESEND_API_KEY="your resend api key"

GITHUB_CLIENT_ID="448ed8860-abcd1234-abcd1234-b9681843"
GITHUB_CLIENT_SECRET="24c5504868-abcd1234-d678049ac72b87b1419e28"

GOOGLE_CLIENT_ID="1889663727-a3f7ssflkekkc0lf0ii9-abcd1234-au3mj9r.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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IiNQU_"

NEXT_PUBLIC_BASE_URL="http://localhost:3000"
